body {
  width: 100vw;
    min-width: 320px;
}

#root {
  padding: 40px 20px;
    max-width: 100px;
  margin: auto;
    height: 20vh;

  display: flex;
    flex-direction: column;
  align-items: center;
    justify-content: center;
}

#root > * + * {
  margin: 20px 0 0 0;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    #root {
    height: 85vh;
      }
  }

#datatable-bids {
  width: 35%;
  margin: 0 auto;
  float: left;
}

#datatable-asks {
  width: 35%;
  margin: 0 auto;
  float: right;
}

#depth-paragraph {
	width: 100px;
    height: 40px;
}

#subscribe-form-container {
  width: 200px;
  }

  #subscribe-form {
    width: 100%;
  display: flex;
    height: 40px;
}

#subscribe-form > * + * {
  margin: 0 0 0 10px;
  }

  #subscribe-form input[type="text"] {
    flex-grow: 1;

  -moz-appearance: none;
    -webkit-appearance: none;
  word-break: normal;
    border-radius: 5px;
  border: 1px solid #ccc;
  }

  #subscribe-form input[type="submit"] {
    color: white;
  background-color: black;
    border-radius: 5px;
  padding: 5px 10px;
    border: none;
}

#subscribe-form input[type="submit"]:hover {
  background-color: red;
  }

  #subscribe-form input[type="submit"]:active {
    background-color: red;
}
